.comics-section {
    background-color: black;
}
.comics-cards {
    height: 11.875rem;
    & .comics-img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}
.current-series {
    background-color: var(--main-color);
    font-weight: bold;
    top: -1.25rem;
    left: -0.3125rem;
}
.more-info {
    background-color: var(--main-color);
    padding: 2.8125rem;

    .cards {
        display: flex;
        align-items: center;
        color: var(--lighter-color);

        a {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 3.75rem;
            height: 3.75rem;
            margin-right: 0.625rem;

            img {
                display: block;
                max-height: 100%;
                max-width: 100%;
            }
        }

        span {
            cursor: pointer;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
